pandas
numpy
requests
google-api-python-client
psycopg2
sqlalchemy
python-dotenv
openpyxl
bs4
google-auth-httplib2
google-auth-oauthlib 
beautifulsoup4
gspread
google-api-python-client
lxml
html5lib
pip-system-certs
geopy
uuid
spacy
nltk
gensim
transformers
kagglehub
matplotlib
seaborn